.place__link {
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  transition: opacity 0.2s ease;
}

@media screen and (max-width: 320px) {
  .place__link {
    padding: 0 16px;
  }
}