.page__container {
  min-width: 320px;
  max-width: 1184px;
  margin: 0 auto;
  font-family: 'Inter', Arial, sans-serif;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  overflow: hidden;
}

@media screen and (max-width: 1024px)  {
  .page__container {
    max-width: 1024px;
  }
}

@media screen and (max-width: 768px)  {
  .page__container {
    max-width: 768px;
  }
}

@media screen and (max-width: 320px)  {
  .page__container {
    max-width: 320px;
  }
}